<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="../../public/apple-touch-icon.png">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">

    <script src="/javascripts/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Price Drop Alert</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-right">
                <ul class="list-none-inline">
                    <li><a href="#">Home</a></li>
                    <li><a href="#howto">How To</a></li>
                    <li><a href="#wishlist">Products</a></li>
                </ul>
            </div>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="background-color: #3F51B5">
    <div class="container">
        <div class="action-cotainer">
            <div class="container">
                <div class="row equal-heights">
                    <div class="col-md-4 text_center">
                        <div class="notificatin-inner" style="color: #ffffff;">
                            <h3>No of Registered User</h3>
                            <h2><%= noofuser %></h2>
                        </div>
                    </div>
                    <div class="col-md-4 text_center">
                        <div class="notificatin-inner" style="color: #ffffff;">
                            <h3>No of Alerts send</h3>
                            <h2><%= noofalert %></h2>
                        </div>
                    </div>
                    <div class="col-md-4 text_center" >
                        <div class="notificatin-inner" style="color: #ffffff;">
                            <h3>No of Products Tracked</h3>
                            <h2><%= noofproducts %></h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="action-cotainer" style="top:100%">
            <div id="acc-btn">
                <a href="#" id="share">Sign In / Sign Up</a>
                <a href="#" id="signIn" data-toggle="modal" data-target="#myModal">Sign In</a>
                <a href="#" id="signUp" data-toggle="modal" data-target="#myModal1">Sign Up</a>
                <!-- <a href="#" id="google">Google Plus</a> -->
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Sign In</h4>
                        </div>
                        <form method="post">
                            <div class="modal-body">
                                <ul class="list-none tbl-style">
                                    <li><label>Your Login Id</label> <input type="text" name="email" id="email"
                                                                            required></li>
                                    <li><label>Your Password</label> <input type="password" name="password"
                                                                            id="password" required></li>
                                </ul>
                                <input type="submit" name="pass" value="Sign In" class="btn btn-success">
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal close -->
            <!-- Modal -->
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <form method="post">
                            <div class="modal-body">
                                <ul class="list-none tbl-style">
                                    <li><label>First name</label> <input type="text" name="fname" id="email" required>
                                    </li>
                                    <li><label>Last name</label> <input type="text" name="lname" id="lname" required>
                                    </li>
                                    <li><label>Date of birth</label> <input type="date" name="dob" id="date" required>
                                    </li>
                                    <li><label>Mobile Number</label> <input type="tel" name="tel" id="tel" required>
                                    </li>
                                    <li><label>Your Mail id </label> <input type="email" name="email" id="email"
                                                                            required></li>
                                    <li><label>Your Password</label> <input type="password" name="password"
                                                                            id="password" required></li>
                                </ul>
                                <input type="submit" name="register" value="Register" class="btn btn-success">
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
            <!-- modal close -->
        </div>
    </div>
</div>


<div id="howto" class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>How to </h3>
            <ul>
                <li>Step 1 :
                    <h4>Sign up as a new user and verify your email id.</h4>
                </li>
                <li>Step 2 :
                    <h4>Enter the url of the product that you want to track into the wishlist.</h4>
                </li>
                <li>Step 3 :<h4>If you want to remove the product from the wishlist simply click on remove button which
                        is present
                        next to the product list.</h4></li>
            </ul>
        </div>
    </div>
</div>


<div id="wishlist" class="container">

    <div clss="title">    <h3>Products our users track</h3></div>
    <!-- Example row of columns -->

    <%
    var uniqueRandoms = [];
    var numRandoms = products.length;
    function makeUniqueRandom() {
        // refill the array if needed
        if (!uniqueRandoms.length) {
            for (var i = 0; i < numRandoms; i++) {
                uniqueRandoms.push(i);
            }
        }
        var index = Math.floor((Math.random() * uniqueRandoms.length) + 1);
        var val = uniqueRandoms[index];

        // now remove that value from the array
        uniqueRandoms.splice(index, 1);

        return val;

    }
    var ra = [];
    for (var j = 0; j < products.length; j++) {
        ra.push(makeUniqueRandom());
        if (ra[j] == undefined) {
            ra[j] = 1;
        }
    }
    for(var i = 1;i < products.length;i++) {

    if(i % 3 == 0){
    %>

    <div class="row product-list equal-heights">
        <div class="col-md-4">
            <h2><%= products[ra[i]].title %></h2>
            <a href="<%= products[ra[i]].link %>">
                <img src="<%= products[ra[i]].image %>" class="img-responsive"/>
            </a>
            <%if(products[ra[i]].provider == "flipkart") {%>
            <img src="/images/Flipkart_logo.png"  style=" height:15%; padding-left: 20%;">
            <%} else if(products[ra[i]].provider == "snapdeal"){%>
            <img src="/images/Snapdeal.png"  style="height: 10%; padding-left: 25%;">
            <%}
            %>
        </div>
        <div class="col-md-4">
            <h2><%= products[ra[i - 1]].title %></h2>
            <a href="<%= products[ra[i - 1]].link %>">
                <img src="<%= products[ra[i - 1]].image %>" class="img-responsive"/>
            </a>
            <%if(products[ra[i - 1]].provider == "flipkart") {%>
                <img src="/images/Flipkart_logo.png"  style=" height:15%; padding-left: 20%;">
            <%} else if(products[ra[i-1]].provider == "snapdeal"){%>
                <img src="/images/Snapdeal.png"  style="height: 10%; padding-left: 25%;">
            <%}
            %>
        </div>
        <div class="col-md-4">
            <h2><%= products[ra[i - 2]].title %></h2>
            <a href="<%= products[ra[i - 2]].link %>">
                <img src="<%= products[ra[i - 2]].image %>" class="img-responsive"/>
            </a>
            <%if(products[ra[i - 2]].provider == "flipkart") {%>
            <img src="/images/Flipkart_logo.png"  style=" height:15%; padding-left: 20%;">
            <%} else if(products[ra[i-2]].provider == "snapdeal"){%>
            <img src="/images/Snapdeal.png"  style="height: 10%; padding-left: 25%;">
            <%}
            %>
        </div>
    </div>

    <% }} %>

    <hr>

    <footer>
        <p>&copy; Company 2015</p>
    </footer>
</div> <!-- /container -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="/javascripts/vendor/bootstrap.min.js"></script>

<script src="/javascripts/plugin.js"></script>
<script src="/javascripts/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
                function () {
                    (b[l].q = b[l].q || []).push(arguments)
                });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>
