<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/lstyle.css' />
</head>
<body>

<% include common %>

<div id="edit">

    <h2><%= pagetitle %></h2>

    <form id="form" method="post">
        <fieldset>

            <p> First Name     :   <%= firstname %> <input type="button" value="Edit" onclick="fname()"></p><p></p>
            <p> <input id="fedit" type="hidden"><input type="hidden" id="fsubmit" style="background-color: #FFA000"> </p><p></p>

            <p> Last Name      :   <%= lastname %>  <input type="button" value="Edit" onclick="lname()"></p><p></p>
            <p><input id="ledit" type="hidden"><input type="hidden" id="lsubmit" style="background-color: #FFA000"> </p><p></p>

            <p> Date of Birth  :   <%= dob %>   <input type="button" value="Edit" onclick="dob()"></p><p></p>
            <p><input id="dobedit" type="hidden"><input type="hidden" id="dobsubmit" style="background-color: #FFA000"> </p><p></p>

            <p> Mobile no      :   <%= tel %>   <input type="button" value="Edit" onclick="tel()"><p><p></p>
            </p><input id="teledit" type="hidden"><input type="hidden" id="telsubmit" style="background-color: #FFA000"> </p><p></p>

            <p> Email Id       :   <%= email %></p>


            <p><input id="oldpasswd" type="hidden" ><input type="button" value="Password" onclick="passwd()"></p>
            <p><input id="newpasswd" type="hidden" >
            <input type="hidden" id="passwdsubmit" style="background-color: #FFA000"></p>

            <input type="button" value="Home" onclick="location.href='/user/<%= uid %>'">
            <input type="button" value="Profile" onclick="location.href='/user/<%= uid %>/profile'">
            <form method="post">
                <input type="submit" value="Log Out" name="logout" style="background-color: #B71C1C">
            </form>

            <p><%= message %></p>
        </fieldset>
    </form>



</div>
<script>
    function fname(){
        var input = document.getElementById("fedit");
        input.setAttribute("type", "text");
        input.setAttribute("placeholder", "Enter Name");
        input.setAttribute("name", "fname");
        var submit = document.getElementById("fsubmit");
        submit.setAttribute("type", "submit");
        submit.setAttribute("value", "Submit");
        submit.setAttribute("name", "fsubmit");
    }

    function lname(){
        var input = document.getElementById("ledit");
        input.setAttribute("type", "text");
        input.setAttribute("placeholder", "Name");
        input.setAttribute("name", "lname");
        var submit = document.getElementById("lsubmit");
        submit.setAttribute("type", "submit");
        submit.setAttribute("value", "Submit");
        submit.setAttribute("name", "lsubmit");
    }

    function dob(){
        var input = document.getElementById("dobedit");
        input.setAttribute("type", "date");
        input.setAttribute("name", "dob");
        var submit = document.getElementById("dobsubmit");
        submit.setAttribute("type", "submit");
        submit.setAttribute("value", "Submit");
        submit.setAttribute("name", "dobsubmit");
    }

    function tel(){
        var input = document.getElementById("teledit");
        input.setAttribute("type", "tel");
        input.setAttribute("placeholder", "9876543210");
        input.setAttribute("name", "tel");
        var submit = document.getElementById("telsubmit");
        submit.setAttribute("type", "submit");
        submit.setAttribute("value", "Submit");
        submit.setAttribute("name", "telsubmit");
    }

    function passwd(){

        var form = document.getElementById("form");

        var email = document.createElement("input");
        email.setAttribute("type", "hidden");
        email.setAttribute("value", "<%= email %>");
        email.setAttribute("name", "emailid");
        form.appendChild(email);

        var input = document.getElementById("oldpasswd");
        input.setAttribute("type", "password");
        input.setAttribute("placeholder", "Old-Password");
        input.setAttribute("name", "oldpasswd");

        var newpd = document.getElementById("newpasswd");
        newpd.setAttribute("type", "password");
        newpd.setAttribute("placeholder","New-Password");
        newpd.setAttribute("name","newpasswd");

        var submit = document.getElementById("passwdsubmit");
        submit.setAttribute("type", "submit");
        submit.setAttribute("value", "Submit");
        submit.setAttribute("name", "passwdsubmit");
    }
</script>
</body>
</html>
