<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/lstyle.css' />
</head>
<body>


<div id="login">

    <h2><%= pagetitle %></h2>


        <fieldset>

            <p><label>First Name : <%= firstname %></label></p>
            <p><label>Last Name : <%= lastname %></label></p>
            <p><label>Date Of Birth : <%= dob %></label></p>
            <p><label>Mobile No : <%= tel %></label></p>
            <p><label>Email ID : <%= email %></label></p>

            <form method="post">
                <p><input type="submit" name="update" value="Update" style="background-color: #FFA000"></p>
            </form>
                <input type="button" value="Home" onclick="location.href='/user/<%= uid %>'">
                <input type="button" value="Profile" onclick="location.href='/user/<%= uid %>/profile'">
            <form method="post">
                <input type="submit" value="Log Out" name="logout" style="background-color: #B71C1C">
            </form>
        </fieldset>


</div>

</body>
</html>
