<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">

    <script src="/javascripts/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico">


    <!-- remove if not required -->

    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand font_style" style="color: white" href="#">Price Drop Alert</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="navbar-right">
                <ul class="list-none-inline">
                    <li><a href="/user/<%= uid %>">Home</a></li>
                    <li><a href="/user/<%= uid %>/profile">Profile</a></li>
                    <li>
                        <form method="post">
                            <input type="submit" value="Log Out" name="logout">
                        </form>
                    </li>
                </ul>
            </div>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div class="jumbotron" style="background-color: #3F51B5">
    <div class="container">
        <form method="post">
            <div class="action-cotainer">
                <input class="input-lg col-lg-10" type="url" name="purl" placeholder="snapdeal product URl"
                       required><br>
            </div>
            <div class="action-cotainer" style="margin-top: 50px">
                <input class="btn-primary col-md-2 custom-button" type="submit" name="submit" value="Submit">
            </div>
        </form>
    </div>
</div>


<div class="main-content wishlist">
    <div class="container">
        <ul class="list-none equal-heights">

            <%
            if(data == "No data in wishlist"){
            %>
            <p><%= data %></p>
            <% }
            else{
            %>
            <h3>List Of Products in wishlist</h3>
            <%
            for(var i = 0 ; i < data.length ; i++) {
            %>

            <li>
                <div class="row ">
                    <div class="col-sm-4">
                        <figure>

                                <img src="<%= data[i].image %>" alt="" class="img-responsive">

                        </figure>
                    </div>
                    <div class="col-sm-6">
                        <h3><a href="/user/<%= uid %>/info/<%= data[i].pid %>"><%= data[i].title %></a></h3>
                        <h4>Brand: <%= data[i].brand %></h4>
                        <p><b>Cost: </b>INR  <%= data[i].current_price %>  /-</p>
                        <%
                            var bools = false;
                            for (var j = 0; j < nlist.length; j++) {
                                if (data[i].provider + "-" + data[i].pid == nlist[j])
                                    bools = true;
                            }
                        if(bools){
                        %>
                        <h5>Product is in notification list</h5>
                        <%}
                        else{
                        %>
                        <h5>Product is not in notification list</h5>
                        <%
                        }
                        %>

                        <p><b>Seller: </b>
                        <%if(data[i].provider == "flipkart") {%>
                        <img src="/images/Flipkart_logo.png"  style=" height:15%;">
                        <%} else if(data[i].provider == "snapdeal"){%>
                        <img src="/images/Snapdeal.png"  style="height: 10%;">
                        <%}
                        %>
                        </p>


                    </div>
                    <div class="col-sm-2 button-group">
                        <form method="post">
                            <input type="hidden" value="<%= data[i].provider %>" name="rpps">
                            <input type="hidden" value="<%= data[i].pid %>" name="rps">
                            <input class="btn-primary custom-button" type="submit" name="notif" value="Notify">
                        </form>

                        <form method="post">
                            <input type="hidden" value="<%= data[i].provider %>" name="rppss">
                            <input type="hidden" value="<%= data[i].pid %>" name="rpss">
                            <input class="btn-warning custom-button" type="submit" name="rn" value="Remove Notification">
                        </form>

                        <form method="post">
                            <input type="hidden" value="<%= data[i].provider %>" name="rpp">
                            <input type="hidden" value="<%= data[i].pid %>" name="rp">
                            <input class="btn-danger custom-button" type="submit" name="remove" value="Remove Product">
                        </form>
                    </div>
                </div>
            </li>

            <% }} %>
        </ul>
    </div>
</div>


<div id="demo-toast-example" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>



<script>
    (function() {
        'use strict';
        window['counter'] = 0;
        var snackbarContainer = document.querySelector('#demo-toast-example');
        window.onload=function() {
            'use strict';
            if('<%= msg %>' == ""){
                var data = {message: 'Welcome'};
            }
            else{
                var data = {message : '<%= msg %>'};
            }
            snackbarContainer.MaterialSnackbar.showSnackbar(data);
        }
    }());
</script>


<hr>

<footer>
    <p>Made By Anshul & Saunish</p>
</footer>
</div> <!-- /container -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="/javascripts/vendor/bootstrap.min.js"></script>

<script src="/javascripts/main.js"></script>


</body>
</html>
